<div class="most-popular-container">
  <div class="inner container">
    <mat-button-toggle-group name="period" aria-label="Select period" [(value)]="selectedPeriod" class="toggle-group">
      <mat-button-toggle value="day">Day</mat-button-toggle>
      <mat-button-toggle value="week">Week</mat-button-toggle>
      <mat-button-toggle value="month">Month</mat-button-toggle>
    </mat-button-toggle-group>
    <div *ngIf="selectedPeriod === 'day'" >
      <h1>Most Popular in a Day</h1>
      <div class="articles-section">
        <a *ngFor="let story of mostPopularEmailedperDay" [href]="story.url" target="_blank" class="article-link">
          <mat-card class="article-card">
            <mat-card-header>
              <mat-card-title>{{ story.title | uppercase }}</mat-card-title>
              <mat-card-subtitle>{{ story.published_date | date:'fullDate' }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="story.media[0]?.['media-metadata']?.[2]?.url" alt="{{ story.title }}" />
            <mat-card-content>
              <p>{{ story.abstract }}</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
    
    <div *ngIf="selectedPeriod === 'week'">
      <h1>Most Popular in a Week</h1>
      <div class="articles-section">
        <a *ngFor="let story of mostPopularEmailedperWeek" [href]="story.url" class="article-link" target="_blank">
          <mat-card class="article-card">
            <mat-card-header>
              <mat-card-title>{{ story.title | uppercase }}</mat-card-title>
              <mat-card-subtitle>{{ story.published_date | date:'fullDate' }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="story.media[0]?.['media-metadata']?.[2]?.url" alt="{{ story.title }}" />
            <mat-card-content>
              <p>{{ story.abstract }}</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
    
    <div *ngIf="selectedPeriod === 'month'">
      <h1>Most Popular in a Month</h1>
      <div class="articles-section">
        <a *ngFor="let story of mostPopularEmailedperMonth" [href]="story.url" class="article-link" target="_blank">
          <mat-card class="article-card">
            <mat-card-header>
              <mat-card-title>{{ story.title | uppercase }}</mat-card-title>
              <mat-card-subtitle>{{ story.published_date | date:'fullDate' }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="story.media[0]?.['media-metadata']?.[2]?.url" alt="{{ story.title }}" />
            <mat-card-content>
              <p>{{ story.abstract }}</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
    
  </div>
</div>

<!-- <div class="most-popular-container">
  <div class="inner-container">
    <div *ngFor="let data of mostPopularEmailedperDay" class="card">
      <div class="card-header">
        <h1 class="card-title">{{ data.title }}</h1>
        <h2 class="card-subtitle">{{ data.published_date | date: 'fullDate' }}</h2>
      </div>
      <img class="card-image" [src]="data.media[0]?.['media-metadata']?.[2]?.url" alt="{{ data.title }}" />
    </div>
  </div>
</div> -->
