.most-popular-container {
  display: flex;
  justify-content: center;
  background-color: #f6f8fc;
}
.inner-container {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  padding: 2em;
  width: 80%;
}

.inner-card-container{
    display: flex;
}

.inner-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  margin: 1em;
}

.articles-section {
  width: 40%;
}
.toggle-div{
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.toggle-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  min-width: auto;
}

.mat-button-toggle-group {
  border-radius: 10px;
}


.article-link {
  text-decoration: none;
  color: inherit;
}

.article-card {
  border-radius: 8px;
  cursor: pointer;
  margin: 20px;
  max-height: 300px;
  max-width: 800px;
  overflow: hidden;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-title {
  font-size: 1.2em;
}

mat-card-subtitle {
  font-size: 0.9em;
  color: #3d3c3c;
  margin-left: 10%;
}

mat-card-content p {
  font-size: 1em;
  color: #333;
}

img {
  margin-left: 80%;
  width: 100px;
  height: 100px;
}
.mat-snack-bar-container {
  background-color: #333;
  color: #fff;
}

.first-card {
  width: 70%;
}

.last-card {
  width: 50%;
}

@media (max-width: 768px) {
  .first-card,
  .last-card {
    width: 100%;
  }
}