<div class="most-popular-container">
  <div class="inner-container">
    <mat-button-toggle-group
      name="period"
      aria-label="Select period"
      [(value)]="selectedPeriod"
      class="toggle-group"
      style="width: fit-content"
    >
      <mat-button-toggle value="day">Day</mat-button-toggle>
      <mat-button-toggle value="week">Week</mat-button-toggle>
      <mat-button-toggle value="month">Month</mat-button-toggle>
    </mat-button-toggle-group>

    <div class="inner-card-container">
      <div class="inner-cards">
        <div
          class="articles-section"
          *ngFor="let story of getStoriesForPeriod(); let first = first; let last = last"
          [ngClass]="{ 'first-card': first, 'last-card': last }"
        >
          <app-individual-card
            [image]="story.media[0]?.['media-metadata']?.[2]?.url"
            [title]="story.title"
            [abstract]="story.abstract"
            [url]="story.url"
            [date]="story.published_date"
          >
          </app-individual-card>
        </div>
      </div>
    </div>
    
  </div>
</div>
