// *{
// //   border: 1px solid red;
// }
.header {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px;
}  
.logo {
    width: 2rem;
    height: auto;
} 
.search-field {
    width: 50%;
    margin-left: 4rem;
} 
.search-icon{
    height: 24px;
    width: 24px;
}
.tabs {
    margin: 0 6rem;
}