//*{
//   border: 1px solid red;
//}
.header {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px;
}  
.logo {
    position: absolute;
    left: 1rem;
    width: 3rem;
    height: auto;
} 
.search-field {
    flex: 1;
    max-width: 50%;
    margin-left: 4rem;
    margin-bottom: 0;
    padding: 0;
} 
.search-icon{
    height: 24px;
    width: 24px;
}
.tabs {
    margin: 0 6rem;
}