<div class="news-layout">
  <div class="headline">
    <app-head-card></app-head-card>
  </div>
  <div class="side-cards">
    <app-primary-card
      [data]="{
        title: 'Somebody',
        description:
          'Someone died because someone killed someone and someone went jail',
        image:
          'https://static01.nyt.com/images/2024/08/13/multimedia/13missy-review-qbtv/13missy-review-qbtv-superJumbo.jpg',
      }"
    ></app-primary-card>
    <mat-divider></mat-divider>
    <app-primary-card></app-primary-card>
    <mat-divider></mat-divider>
    <app-primary-card></app-primary-card>
  </div>
</div>
