<div class="top-stories-container">
  <div class="inner-container">
    <p>
      top-stories works! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis! Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Tenetur minima odio excepturi perspiciatis consectetur amet,
      perferendis animi obcaecati doloremque dolor cum laborum. Non, modi!
      Dolorum incidunt tempore perferendis deleniti corporis! Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Tenetur minima odio excepturi
      perspiciatis consectetur amet, perferendis animi obcaecati doloremque
      dolor cum laborum. Non, modi! Dolorum incidunt tempore perferendis
      deleniti corporis!
    </p>
  </div>
</div>
