.top-stories-container{
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.inner-container{
    margin: 3rem;
    width: 80%;
    display: flex;
    justify-content: center;
}

.first-row-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}