.top-stories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F8FC;
}
.top-stories-content{
    width: 80%;
}

.default-stories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    margin:1em;
}

.default-stories-card{
    width: 40%;
}

.stories-chips{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 2rem 0rem;
}
.chips-container{
    width: 100%;
}

.inner-container {
  margin: 3rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

