.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  padding: 20px 0;
}

.carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-grid-list {
  width: 100%;
  height: auto;
}

mat-grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-bookcard {
  width: 100%; /* Ensure the book card takes full width inside the grid tile */
  max-width: 160px; /* You can adjust this based on the desired size of the book card */
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 30px;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
