<mat-card class="head-card">
  <mat-card-content class="card-content">
    <div class="image-section">
      <img
        mat-card-image
        class="card-image"
        [src]="data.image"
        alt="Headline Image"
      />
    </div>
    <div class="details-section">
      <p class="news-title mat-display-large">{{ data.title }}</p>
      <a [href]="data.url" class="news-desc">{{ data.description }}</a>
      <div class="news-bottom">
        <p class="news-time">4 hour ago</p>
        <p class="news-author">&#x2022;Ram Singh</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
