.head-card {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0px !important;
}

.details-section {
  display: flex;
  flex-direction: column;
}

.news-title {
  font-size: 30px;
  color: #000;
  text-transform: capitalize;
  margin: 0;
  text-decoration: none;
  padding: 5px;
}
.news-desc {
  color: rgb(54, 54, 54);
  text-decoration: none;
  padding: 5px;
}
.news-desc:hover {
  text-decoration: underline;
}
.news-bottom p {
  display: inline;
  padding: 5px;
}
